.git
.github
.venv
.idea
.vscode
.claude
__pycache__
*.pyc
*.pyo
*.pyd
tests
logs
data/output
config/*.env
config/backups
bin
dotenv
python_dotenv-*.dist-info
.env

# Zur Laufzeit nicht gebraucht
esp32
docs
*.md
